.wrapper{
    font-family:'TsukuARdGothic-Regular',sans-serif;
    color:#423738;
    background-color: #FFFEFA;
}

/* -------*/
/* ヘッダー*/
/* -------*/

.header_area {
  /* position: fixed; */
  top: 0; /* 一番上に表示 */
  width: 100%; /* 中央に表示 */
  display: flex;
  justify-content: space-between;
  z-index:999;
}
.sign-out{
    padding-top: 10px;
    padding-right:30px;
}

/* --------------*/
/* メインコンテンツ*/
/* --------------*/

.content{
    font-size: 14px;
    width:100%;
    /* max-width:375px; */
    /* max-height:667px; */
    min-height: 100vh;
    padding-bottom:40px; /*フッターの高さと同じ*/
}

.logo{
    display:flex;
    justify-content: center;
    /* flex-direction: column; 
    justify-content: center;
    align-items: center;   */
}
.output{
    display: flex;
    justify-content: center;
}
.photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
     border: 3px solid#F3C2C4;

}
.button1{
    font-size: 16px;
    border-radius: 5px;
    border-color: #423738;
    /* padding:10px; */
    margin-right: 10px;
}

/* -------*/
/* フッター*/
/* -------*/

.footer_area{
  position: fixed; /* 固定 */
  bottom: 0; /* 一番下に表示 */
  width: 100%; /* 中央に表示 */
  height:40px;
  margin-top: 40px;
}

.footer_menu{
    padding: 0px 40px;
    display: flex;
    justify-content:space-around; 
}

/* ホームボタン */
.fa-home{
    color:#F3C2C4;
}
