/* -------*/
/* ヘッダー*/
/* -------*/

.header_area{
    /* display: flex;
    justify-content:flex-end； */
    text-align:right;
}

/* ハンバーガーボタン */
/* .menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
} */



/* クローズ時 */
/* .menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
} */

.bar{
    color:#423738;
    margin:10px;
}


/* --------------*/
/* サインイン部分*/
/* --------------*/

.content{
    font-family:'TsukuARdGothic-Regular',sans-serif;
    font-size: 14px;
    color:#423738;
    width:100%;
    /* max-width:375px; */
    /* max-height:667px; */
    background-color: #FFFEFA;
    
    display: flex;
    justify-content: center;
}

.logo{
    margin-top:150px;
}

.signin{
    display: flex;
    flex-direction: column;
}

.email{
    border-radius: 5px;
    background: #EEEEEE;
    opacity: 0.5;

    width: 345px;
    height: 30px;
}

.password{
    border-radius: 5px;
    background: #EEEEEE;
    opacity: 0.5;

    width: 345px;
    height: 30px;
}

.button{
    display: flex;
    flex-direction: column;
    margin-top:80px;
}

.login{
    font-family:'TsukuARdGothic-Regular',sans-serif;
    border-radius: 35px;
    width:340px;
    height:50px;
    font-size:20px;

    background-color:#D39094;
    color:#FFFFFF;
    margin:5px;

}
.register{
    font-family:'TsukuARdGothic-Regular',sans-serif;
    border-radius: 35px;
    width:340px;
    height:50px;
    font-size:20px;

    margin:5px; 
}