.wrapper{
    font-family:'TsukuARdGothic-Regular',sans-serif;
    color:#423738;
    background-color: #FFFEFA;
}

/* -------*/
/* ヘッダー*/
/* -------*/

.header_area{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
 }

.sign-out{
    padding-top: 10px;
    padding-right:30px;
}

/* --------------*/
/* メインコンテンツ*/
/* --------------*/

.content{
    width:100%;
    font-size: 14px;
    /* max-width:375px; */
    /* max-height:667px; */
    padding-bottom:40px; /*フッターの高さと同じ*/
}

.photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid#F3C2C4;
}


/* -------*/
/* フッター*/
/* -------*/
.footer_area{
    height:40px;
    bottom: 0;
}
.footer_menu{
    padding: 0px 40px;
    display: flex;
    justify-content:space-around; 
}
.circle{
    color:#F3C2C4;
}