.wrapper{
    font-family:'TsukuARdGothic-Regular',sans-serif;
    color:#423738;
    background-color: #FFFEFA;
}

/* -------*/
/* ヘッダー*/
/* -------*/

.header_area{
    font-size: 14px;

    display: flex;
    justify-content: center;
}

/* --------------*/
/* メインコンテンツ*/
/* --------------*/

.content{
    width:100%;
    font-size: 14px;
    /* max-width:375px; */
    /* max-height:667px; */
}

.photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid#F3C2C4;
}


/* -------*/
/* フッター*/
/* -------*/

.circle{
    color:#F3C2C4;
}