.content{
    font-family:'TsukuARdGothic-Regular',sans-serif;
    font-size: 14px;
    color:#423738;
    width:100%;
    /* max-width:375px; */
    /* max-height:667px; */
    background-color: #FFFEFA;
    display: flex;
    justify-content: center;
}
/* .form{
    display: flex;
    justify-content: center;
} */

/* .menu{
  display: flex; */
  /* flex-direction: row;
  flex-wrap: wrap;  */
  /* justify-content: space-between;
  font-size: 16px;
  margin-bottom: 50px;
  margin-top:80px;
} */

/* 投稿ボタン */
.word_btn {
	/* display: block;
	position: relative;
	width: 80px;
	padding: 0.8em;
	text-align: center; */
	text-decoration: none;
    color: #818181;
}
.word_btn[disabled]{
     color:#4BDDA8;
     text-decoration: none;
     font-weight:bold;
}



.caption{
    font-size: 14px;
    opacity: 0.5;
    border:none;
    background:none;

    width: 345px;
    height: 30px;
    margin-top:80px;
}

.preview{
     border-radius: 50%;
     object-fit:cover;

}



/* カテゴリ */
.button1{
    font-family:'TsukuARdGothic-Regular',sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color:#F3C2C4;
    border-radius: 5px;
    /* padding:10px; */
    margin-right: 10px;
}
.active1{
    background-color: #D39094; 
    color: #FFFFFF;
}

/* 時間 */ 

.time{
display: flex;
}

.button2{
    font-family:'TsukuARdGothic-Regular',sans-serif;
    font-size: 16px;
    border-radius: 5px;
    width: 110px;
    height: 80px;
    margin-right: 10px;
}
.active2{
    background-color: #D39094;
    color: #FFFFFF;
}

.timezone{
    font-size:12px;
}
.sun{
    margin-top:14px;
}
.sunshine{
    color:#F4831A;
    margin-top:5px;
}
.moon{
    color:#312990;
    margin-top:5px;
}

/* 変化 */ 
.button3{
    font-family:'TsukuARdGothic-Regular',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    width: 110px;
    height: 80px;
    margin-right: 5px;
}
.active3{
    background-color: #D39094; 
    color: #FFFFFF;
}


/* その他ボタン */
/* .disabled {
    color:#dddddd;
} */


/* 投稿アイコン */
.fa-stack{
    color:#4BDDA8;
    font-size: 2em;
    position:fixed;
    right:50px;
    bottom:50px;
}