.content{
    font-family:'TsukuARdGothic-Regular',sans-serif;
    font-size: 14px;
    color:#423738;
    width:100%;
    /* max-width:375px; */
    /* max-height:667px; */
    background-color: #FFFEFA;
}

.logo{
    display:flex;
    justify-content: center;
    /* flex-direction: column; 
    justify-content: center;
    align-items: center;   */
}